@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


.title{
    font-size: 70px;
    padding: 0 20px 0 20px;
    color: #2677ce;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-weight:bold; 
    text-align: center;
}

#sobre-nosotros{
  padding: 5% 0 5% 0;
  background: rgb(255, 245, 241);
  border-top: 5px solid var(--color-borde-margen-arriba);
  background-color: #f8e2b5;
}

.tarjetas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 10%;
}

.container .card{
    width: 330px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background: #ebf4fd;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
    padding-top: 5%;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
}

.container .card .leer-mas {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}




.modal-header img{
  width: 100%;
}


.modal-header{
  background: coral;
}



@media screen and (max-width: 1200px){
  .sobre-nosotros{
    height: 100%;
    padding-bottom: 10%;
  }

} 

@media screen and (max-width: 900px){
  .title{
      font-size:60px;
  }

} 

@media screen and (max-width: 368px){
  .title{
      font-size:45px;
  }
} 
 


/* .carousel-inner img{
  height: 100vh;
}

.section-padding{
padding: 100px 0;
}
.carousel-item{
  height: 100vh;
  min-height: 300px;
}
.carousel-caption{
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before{      
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:  0;
  left: 0;
  background: rgb(0, 0, 0, 0.3);
  z-index: 1;
}


@media only screen and (max-width: 767px) {
  
  .carousel-caption{
    bottom: 125px;
  }

  .carousel-caption h5{
    font-size: 17px;
  }

  .carousel-caption{
    padding: 10px 15px;
  }

  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }

} */