#valores{
    background-color: #ce41d0;
    background-image: linear-gradient(43deg, #ce41d0 0%, #957dad 72%)
}

.container-valores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3% 0%;
}

.valor-no-pocicional{
    display: flex;
    flex-direction: column;

}

.valor-no-posicional h4{
    font-size: 3rem;
    font-family: 'Caprasimo', cursive;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
}

.valor-no-posicional p{
    font-size: 1.5rem;
    color: #fff0ea;
    padding-left: 20px;
}

.leer-mas{
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Caprasimo', cursive;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
}

.leer-mas:hover {
  transform: scale(1.2);
  transition: all 400ms ease;
  color: #e4a187;
}

.posicion img{
    width: 30rem;
    box-shadow: 1px 1px 5px 5px rgba(32,32,32,0.3);
}



.posicion-2 h4{
    font-size: 3rem;
    font-family: 'Caprasimo', cursive;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
}

.posicion-2 p{
    font-size: 1.5rem;
    color: #fff0ea;
    padding-left: 20px;
}

.valor-posicional img{
    width: 30rem;
    box-shadow: 1px 1px 5px 5px rgba(32,32,32,0.3);
}

.valor-posicional-2 img{
    display: none;
}

.comparacion-sistemas h4{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0rem 1rem;
    font-size: clamp(2rem, 4rem, 12vw);
    font-family: 'Caprasimo', cursive;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
}

.comparacion-sistemas span{
    font-size: clamp(1rem, 2.5rem, 9vw);
    font-family: 'Caprasimo', cursive;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
}

.comparacion-img{
    padding-bottom: 2rem;
}



@media screen and (max-width: 1000px){
    .container-valores{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .posicion{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .posicion img{
        width: 80%;
    }

    .valor-posicional img{
        display: none;
    }

    .valor-posicional-2 img{
        display: flex;
        width: 80%;
        box-shadow: 1px 1px 5px 5px rgba(32,32,32,0.3);
    }

    .valor-posicional-2{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .posicion-2 h4{
        display: flex;
        text-align: center;
    }

    .valor-no-posicional h4{
        display: flex;
        text-align: center;
    }

    .posicion-2 p{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .valor-no-posicional p{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  
  } 