@charset "UTF-8";
/*---------------------------------------------------------------------------------------- */
/*-------------------------- Variables --------------------------------- */
/*---------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------------------- */
/*-------------------------- Imagen Diferencia entre "Resina" y "Filamento" --------------------------------- */
/*---------------------------------------------------------------------------------------- */
.sobre-nosotros .titulo-diferencia {
  color: blueviolet;
  font-weight: bold;
  padding: 15px;
  margin-top: 1.2em;
  margin-bottom: 40px;
  text-align: center;
  font-size: clamp(1rem, 5.5rem, 4.5vw);
  border-radius: 10px;
  font-family: "Rubik";
}
.sobre-nosotros .contenedor-sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10em;
}
.sobre-nosotros .contenedor-sobre-nosotros .imagen-about-us {
  width: 50%;
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos {
  display: flex;
  justify-content: center;
  flex-direction: column; /*para que el texto se escriba uno bajo el otro*/
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos .imagen-resina {
  display: none;
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos h3 {
  font-size: clamp(1rem, 3.5rem, 3vw);
  font-weight: bold;
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos h3 span { /*circulo violeta*/
  background: blueviolet;
  color: white;
  border-radius: 50%; /*para que sea redondo*/
  display: inline-block; /*propiedad de bloque*/
  text-align: center;
  width: clamp(1rem, 5rem, 4vw);
  height: clamp(1rem, 5rem, 4vw);
  padding: 1px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos p {
  padding: 0px 0px 30px 15px;
  text-align: justify;
  font-family: "Rubik";
  font-size: clamp(1rem, 2rem, 1.5vw);
}
.sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos .imagen-impresora-filamento {
  display: none;
}

/*----------------------------------------------------------- */
@media screen and (max-width: 1000px) {
  .sobre-nosotros .titulo-diferencia {
    font-size: clamp(3rem, 4.5rem, 5vw);
  }
  .sobre-nosotros .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .imagen-about-us {
    display: none;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos h3 { /*Tamaño del titulo*/
    color: #bb00ff;
    font-size: 3.5rem;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos h3 span { /*circulo violeta*/
    display: none;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos p {
    font-size: 1.8rem; /*centra los parrafos que estan debajo de los titulos*/
    text-align: center;
    padding: 0px;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos img { /*pequeña separacion de las imagenes con respecto a los titulos*/
    margin-bottom: 20px;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos .imagen-resina { /*Muestra la imagen de la impresora de resina*/
    display: flex;
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
  }
  .sobre-nosotros .contenedor-sobre-nosotros .contenidos-textos .imagen-impresora-filamento { /*Muestra la imagen de la impresora de filamento*/
    display: flex;
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=diferencia-resina-filamento.css.map */