.dos-juegos{
    display: flex;
    justify-content: center;
    background-color: #fcb3c9;
    gap: 12rem;
}

.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3.5% 0;
    background-color: #fcb3c9;
    gap: 3rem;
}

.juego h1{
    text-align: center;
    font-size: clamp(2rem, 4rem, 15vw);
    font-family: 'Caprasimo', cursive;
    color: #fffbfb;
    text-shadow: 1px 1px 5px black;
}

.juego img{
    width: clamp(4rem, 30rem, 80vw);
    height: auto;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}

.juego a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    font-size: 2rem;
}

.juego a:hover{
    transform: scale(1.1);
    transition: all 500ms;
    color: #e3ffc9;
}

.enlace-juego {
    padding: 5px;
    background-color: rgb(58, 151, 29);
    border: 1px black solid;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(59, 58, 58);
    text-decoration: none;
    color: #fff0ea;
    text-shadow: 1px 1px 5px black;
    font-family: 'Caprasimo', cursive;
}

@media screen and (max-width: 1000px){
    .juego{
        padding: 10% 0;
    }
  
  } 

  @media screen and (max-width: 1150px){
  
    .dos-juegos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

  } 